 #homePageTitle {
    margin-top:  60px;
    margin-left: 15px;
    margin-right: 15px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: 400;
    text-align: center;
    
    border-bottom: 2px solid cornflowerblue;
   
}

main > section > h3{
    text-decoration: underline;
    color: red; 
    /* change the color once the background becomes darker */
}
